.bg-cover {
    background-size: cover;
}
.bg-center {
    background-position: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.bottom-0 {bottom: 0px;}
.right-0 { right: 0px;}
.left-0 { left: 0px;}
.top-0{top: 0;}
/*flex布局*/
.flex {  display: flex;}
.flex-row { flex-direction: row;}
.flex-column{ flex-direction: column;}
.justify-between { justify-content: space-between;}
.justify-flex-end{ justify-content: flex-end;}
.justify-center { justify-content: center; }
.align-items-center{align-items: center;}

/*定位*/
.fixed { position: fixed;}
.relative{position:relative}
.absolute{position:absolute}
.ov-hide{overflow: hidden}
.d-none{display:none}
.rounded-none {
    border-radius: 0px;
}
.border-gray-400 {
    border-color: rgba(156, 163, 175, 0.3);
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.1);
}
.blur {
    -webkit-backdrop-filter: blur(40px);	
    backdrop-filter: blur(40px);	
}

.duration-150 {
    transition-duration: .15s;
}
.ease-in {
    transition-timing-function: cubic-bezier(.4,0,1,1);
}

.fontbold{font-weight: bold;}

/*边距*/
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pb5{padding-bottom:5px}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr100{padding-right:100px}

.cursorAuto{cursor:auto;}
.noCopy{
    -moz-user-select:none; /* Firefox私有属性 */
    -webkit-user-select:none; /* WebKit内核私有属性 */
    -ms-user-select:none; /* IE私有属性(IE10及以后) */
    -khtml-user-select:none; /* KHTML内核私有属性 */
    -o-user-select:none; /* Opera私有属性 */
    user-select:none; /* CSS3属性 */
}
.zIndexTop{
    z-index: 999999 !important;
}